.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  flex-direction: column;
  color: #212121;
  gap: 20px;
  p {
    font-family: serif;
    font-weight: 500;
    font-size: 20px;
  }
}
