.errorPage-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: clip;
  overflow-y: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .errorText-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 25rem;
    transform: rotate(-27deg);

    h1 {
      white-space: nowrap;
      font-size: 4rem;
      font-style: italic;
    }
    h2 {
      font-style: italic;
      font-size: 4rem;
    }
  }
}
